<html>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<body>

<center>
    {% for x in order_edit %}
<form action="/data_update/{{x.id}}" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  
  <b>Customer:</b> <select style="margin-left:15px;" name="customer"  size="1">
    
    <option  value="{{x.customer_id.id}}" >{{x.customer_id.first_name}}</option>
    
  </select><br><br>
    
  <b>Product:</b> <select style="margin-left:15px;" name="product"  size="1">
    
    <option  value="{{x.product_id.id}}" >{{x.product_id.product_name}}</option>
    
  </select><br><br>

  <b>Price:</b><br>
  <input type="text" name="price" value="{{x.Unit_price}}" id="price" readonly><br><br>
  <b>Qty</b><br>
  <input type="number" name="qty" value="{{x.qty}}" id="qty" onblur="myFunction()"><br><br>
  <b>Total Price:</b><br>
  <input type="text" name="total" value="{{x.total_price}}" id="total_price" readonly><br><br>
  <input type="submit" name="submit" value="Update">
  
</form>
{% endfor %}
<a href="/home">List Of Data</a>
</center>
<script>
  function myFunction(){
    default_qty = $('#qty').val();
    product_price = $('#price').val();
    final_amount = default_qty*product_price
    // console.log(final_amount)
    $("#total_price").val(final_amount);
  }
</script>
</body>
</html>