<html>
  <title>Add Data</title>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>
  
<body>
  {% if order_edit %}
  <center>
    {% for x in order_edit %}
<form action="/edit_data/{{x.id}}" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  
  <b>Customer:</b> <select style="margin-left:15px;" name="customer"  size="1">
    
    <option  value="{{x.customer.id}}" >{{x.customer.first_name}}</option>
    
  </select><br><br>
    
  <b>Product:</b> <select style="margin-left:15px;" name="product"  size="1">
    
    <option  value="{{x.product.id}}" >{{x.product.product_name}}</option>
    
  </select><br><br>

  <b>Price:</b><br>
  <input type="text" name="price" value="{{x.Unit_price}}" id="price" readonly><br><br>
  <b>Qty</b><br>
  <input type="number" name="qty" value="{{x.qty}}" id="qty" onblur="myFunction()"><br><br>
  <b>Total Price:</b><br>
  <input type="text" name="total" value="{{x.total_price}}" id="total_price" readonly><br><br>
  <input type="submit" name="submit" value="Update">
  
</form>
{% endfor %}
<a href="/home">List Of Data</a>
</center>


{% else %}
  <center>
    <form action="/add_data" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
    
      <b>Customer:</b> <select style="margin-left:15px;" name="customer"  size="1">
      {% for x in customer_data %}
      <option  value="{{x.id}}">{{x.first_name}}</option>
      {% endfor %}
      </select><br><br>
    
      <b>Product:</b> <select style="margin-left:15px;" id="product" onblur="myyFunction()" name="product"  size="1">
      {% for x in product_data %}
      <option  value="{{x.id}}" id="product" >{{x.product_name}}</option>
      {% endfor %}
      </select><br><br>

      <b>Price:</b><br>
      <input type="text" id="price" name="price" readonly><br><br>

      <b>Qty</b><br>
      <input type="number" name="qty" value="1" id="qty" onblur="myFunction()" class="qty" required  min="1" max="100"><br><br>

      <b>Total Price:</b><br>
      <input id="total_price" name="total" type="text" class="total" readonly ><br><br>

      <input type="submit" name="submit" value="submit"><br><br>
    
    </form>
    <a href="/home">List Of Data</a>
  </center>

 {% endif %}
  <script>
    function myFunction(){
      default_qty = $('#qty').val();
      product_price = $('#price').val();
      final_amount = default_qty*product_price
      // console.log(final_amount)
      $("#total_price").val(final_amount);
    }
    function myyFunction(){
      product = $('#product').val();
      var csrf = $("input[name=csrfmiddlewaretoken]").val();
      console.log(product)
      mydata = {product:product,csrfmiddlewaretoken:csrf}
      $.ajax({
        url:"{% url 'dataa' %}",
        method:"POST",
        data:mydata,
        success:function(data){
              // console.log(data);
              $("#price").val(data.product_price);
        }

      });
    };
    
      
    
  </script>
</body>
</html>